[Unit]
Description=CAN Bus to MQTT Service
After=docker.service can0.service
Requires=docker.service can0.service

[Service]
Type=simple
User=trailcurrent
WorkingDirectory=/home/trailcurrent/local_code
EnvironmentFile=/home/trailcurrent/local_code/.env
ExecStart=/home/trailcurrent/local_code/cantomqtt/bin/python /home/trailcurrent/local_code/can-to-mqtt.py
Restart=always

[Install]
WantedBy=multi-user.target
