[Unit]
Description=TrailCurrent Deployment Watcher
After=docker.service
Requires=docker.service

[Service]
Type=simple
User=trailcurrent
WorkingDirectory=/home/trailcurrent/local_code
EnvironmentFile=/home/trailcurrent/local_code/.env
ExecStart=/home/trailcurrent/local_code/cantomqtt/bin/python /home/trailcurrent/local_code/deployment-watcher.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
